---
import { render, type CollectionEntry } from "astro:content";
import { SiteBase } from "../consts";
import FormattedDate from "./FormattedDate.astro";
import ContentCutoff from "./ContentCutoff.astro";
import OptionalLink from "./OptionalLink.astro";

type Props = {
  log: CollectionEntry<"logs">;
  class?: string;
  single?: boolean;
} & { [K: string]: any };

const { log, class: className, single, ...rest } = Astro.props;
const { Content } = await render(log);
const logLink = `${SiteBase}/logs/${log.id}`;

const Element = single ? "div" : "li";
---

<Element class:list={["log", className]} class="log" {...rest}>
  <div class="version_wrapper">
    <div class="version_info">
      <OptionalLink href={single ? null : logLink}>
        <div class="version_number">
          {(log.data.tags || ["misc"]).map((t) => `# ${t}`).join(", ")}
        </div>
        <FormattedDate class="date" date={log.data.date} />
      </OptionalLink>
    </div>
  </div>
  <div class="content">
    <h2>
      <OptionalLink href={single ? null : logLink} class="heading-link">
        {log.data.title}
      </OptionalLink>
    </h2>

    <ContentCutoff doCutoff={!single} moreHref={logLink}>
      <Content />
    </ContentCutoff>
  </div>
</Element>
