---
import type { CollectionEntry } from "astro:content";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseHead from "../components/BaseHead.astro";
import LogEntry from "../components/LogEntry.astro";

type Props = {
  log: CollectionEntry<"logs">;
};

const { log, ...rest } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={log.data.title}
      description={log.data.description}
      image={log.data.image}
    />
  </head>
  <body>
    <Header />

    <LogEntry
      class="single"
      log={log}
      transition:persist
      transition:name="log"
      single={true}
      {...rest}
    >
      <slot />
    </LogEntry>
    <Footer />
  </body>
</html>
